{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current" // Had at 10, but switched to target the current version of Node.js
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
